* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.alert {
  color: red;
}

.container {
  display: flex;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}